@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-size: 2rem;
  border: none;
  padding-inline: 20px;
  padding-block: 10px;
  border-radius: 10px;

  @apply bg-slate-700 text-gray-200;
  @apply flex justify-center items-center;
  @apply cursor-pointer;
}

button:focus {
  outline: 1px solid #777;
}